#### Zadanie V: Filtrowanie danych

W tym zadaniu będziesz miał okazję przećwiczyć różne metody filtrowania danych w Pandas, aby wyodrębnić interesujące informacje z zestawu danych o pracownikach firmy. Każde z podzadań dotyczy innej techniki filtrowania, co pozwoli Ci zyskać szersze umiejętności w pracy z Pandas.

**0. Wczytanie danych**

Wczytaj dane z pliku 'data/employees.csv' i zapoznaj się z nimi wstępnie.

In [ ]:
import pandas as pd

# Wczytanie danych z pliku CSV
...

**1. Wyświetlenie wszystkich pracowników z działu "Engineering"**

Użyj metody `isin`, aby wybrać wszystkich pracowników z działu "Engineering".

In [ ]:
# Filtrowanie pracowników z działu Engineering
...

**2. Pracownicy, których nazwiska zaczynają się na literę "S"**

Użyj str accessor, aby wyświetlić wszystkich pracowników, których nazwiska zaczynają się na "S".

In [ ]:
# Filtrowanie pracowników, których nazwiska zaczynają się na "S"
...

**3. Wybór pracowników z wynagrodzeniem większym niż 60,000**

Użyj warunku w kwadratowych nawiasach, aby wybrać pracowników, których wynagrodzenie jest wyższe niż 60,000.

In [ ]:
# Filtrowanie pracowników z wynagrodzeniem większym niż 60,000
...

**4. Pracownicy, którzy dołączyli do firmy przed 2020 rokiem**

Użyj metody `query`, aby wyświetlić pracowników, którzy dołączyli do firmy przed 2020 rokiem.

In [ ]:
# Filtrowanie pracowników, którzy dołączyli przed 2020 rokiem
...

**5. Najwyżej opłacani pracownicy**

Użyj metody `nlargest`, aby wybrać trzech najwyżej opłacanych pracowników.

In [ ]:
# Najwyżej opłacani pracownicy
...

**6. Najniżej opłacani pracownicy**

Użyj metody `nsmallest`, aby wybrać dwóch najniżej opłacanych pracowników.

In [ ]:
# Najniżej opłacani pracownicy
...

**7. Wyświetlenie wszystkie dane dla pracowników w wieku między 30 a 40 lat**

Użyj loc, aby wybrać pracowników, którzy mają od 30 do 40 lat.

In [ ]:
# Filtrowanie pracowników w wieku 30-40 lat
...

**8. Wybór pracowników na podstawie ich ID**

Użyj `iloc`, aby wybrać pracowników o indeksach 1, 3 i 5.

In [ ]:
# Wybór pracowników o indeksach 1, 3 i 5
...

**9. Wyświetlenie wszystkich pracowników z działu "HR" lub "Marketing"**

Użyj metody `isin`, aby wyświetlić wszystkich pracowników, którzy są w działach "HR" lub "Marketing".

In [ ]:
# Filtrowanie pracowników z działu HR lub Marketing
...

**10. Wyświetlenie pracowników z wynagrodzeniem poniżej mediany**

Użyj kwadratowych nawiasów i funkcji median, aby znaleźć pracowników zarabiających mniej niż mediana wynagrodzenia.

In [ ]:
# Filtrowanie pracowników zarabiających mniej niż mediana wynagrodzenia
...

**11. Pracownicy, którzy nie pracują w dziale "Marketing"**

Użyj negacji (~) oraz isin, aby wybrać wszystkich pracowników, którzy nie są w dziale "Marketing".

In [ ]:
# Filtrowanie pracowników, którzy nie są w dziale Marketing
...

**12. Wybór pierwszych 5 pracowników z wybraną kolumną salary przy użyciu iloc**

Użyj `iloc`, aby wybrać pierwsze 5 wierszy oraz tylko kolumnę salary.

In [ ]:
# Wybór pierwszych 5 pracowników oraz kolumny salary przy użyciu `iloc`
# first_five_salaries = df.iloc[:5, df.columns.get_loc('salary')]
...

**13. Wybór pierwszych 5 pracowników z wybraną kolumną salary przy użyciu loc**

Użyj `loc`, aby wybrać pierwsze 5 wierszy oraz tylko kolumnę salary.

In [ ]:
# Wybór pierwszych 5 pracowników oraz kolumny salary przy użyciu `loc`
...

**14. Wyciąganie wierszy od 2 do 4 (nie wliczając 4) oraz kolumny first_name i salary przy użyciu `iloc`**

Użyj `iloc`, aby wyciągnąć wiersze od 2 do 4 oraz wybrane kolumny.

In [ ]:
# Wyciąganie wierszy od 2 do 4 oraz kolumn first_name i salary
...